.gallery {}

h3 {
    font-style: italic;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    border: 1px solid #CCC;
    height: 300px;
    overflow: hidden;
}

img {
    width: 100%;
    opacity: 0.1;
    will-change: opacity;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

img._img-loaded {
    opacity: 1;
}

.desktop-view {
    width: 500px;

}

.mobile-view {
    width: 200px;
}


@media (max-width: 767px) {
    .desktop-view {
        display: none;
    }
}


@media (min-width: 768px) {
    .mobile-view {
        display: none;
    }
}